


.img {
    width: 20vh;
    margin-left: 12vh;
}

.qst1,.qst2,.qst3,.qst4,
.qst5,.qst6,.qst7,.qst8,
.qst9,.qst10 {
    display: none;
}

main {
    display:grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}

.startBtn {
     width: 15vh;
     height: 5vh;
     margin:  0 auto;
     margin-top: 1.5vh;
     cursor: pointer;
}


.answer:hover {
    background-color: rgb(95, 95, 95);
}


.answer {
    padding: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(185, 182, 182);
    font-size: 16px;
    border-radius: 1vh;
}

.next {
     display: none;
     width: 15vh;
     height: 5vh;
     margin:  0 auto;
     margin-top: 1.5vh;
     padding-top: 1vh;
     cursor: pointer;
     text-align: center;
     font-size: 16px;    
}

span {
    font-weight: bolder;
}

.result {
    display: none;
    margin-top: 10vh;
}


@media screen and (max-width: 480px) {

   .img {
    margin-left: 9vh;
   }

   img {
    width: 40vh;
   }
    

}


@media screen and (max-width: 1024px) {
    
    

     
}





